{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
    我的会员
{% endblock %}

{% block staticfiles %}
     <link rel="stylesheet" href="{% static '/myApp/css/main.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="head">
            <div class="row" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                   {# <div class="header1" style="background-image: url(/static/myApp/img/membership.png)"> #}

                    <div class="Main_header">
                        {# <img src="/static/myApp/img/membership.png" alt="Responsive image" width="100%" height="100%"> #}
                        <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="zunjingdehuiyuan">
                                      <h3 >尊敬的会员: </h3>
                                        <br/>
                                        <a class="colofa" href="/membership/login/" >
                                            {{ username }}
                                        </a>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                                    <div class="huiyuandengji">
                                        <h5>{{ MemberRank }}</h5>
                                    </div>
                                </div>

                        </div>
                    </div>

                    <div class="row" style="background-color: #eeeeee">
                       <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                           <h4 style="width: 120px">当前：{{ LoginViewstatus }}</h4>
                       </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"
                        style="text-align: right;padding: 0px;margin-right: 0px;width: 150px;margin-left: 80px;">
                            <h4><a href="/membership/regist/" style="text-decoration: none">&nbsp 注册 </a>
                                <a href="/membership/quit/"  style="text-decoration: none">&nbsp 退出登录 </a></h4>
                        </div>
                    </div>

                    <br/>
                </div>
        </div>
    </div>
</div>

    <div class="container-fluid" style="margin-top:40px;background-color: #ffffff">
                {# <ul class="list-group" style="height: 300px;width: 345px;"> #}
                   <h4>我的余额：{{ MemberBlance }}</h4>
                    <hr>
                   <h4>我的积分：{{ MemberIntegral }}</h4>
                    <hr>
                   <h4>我的优惠券：0张</h4>
                    <hr>
                {# </ul> #}
    </div>

    <h3 style="text-align: center">其它功能正在建设中...</h3>



{% endblock %}